extends templates/layout

block mainContent
  h2 About Gulpify
  p This is the Gulpyify project. It is a simple project that demonstrates how to use Gulp to automate tasks in a web development project.