extends templates/layout

block mainContent
  h2 Welcome to the Gulpify.
  p It is a simple boilerplate to automate your front-end workflow.
  ul
    each item in advantages 
      li
        h3= item.title
        p= item.description
        span= item.benefit